header
    nav
        ul
            li
                a(href="/dashboard") Películas 
                //- Panel de control
            
            li
                a(href="/favorites") Películas favoritas

            //- MENÚ CONDICIONAL SEGÚN ESTADO DE AUTENTICACIÓN
            if user
                //- USUARIO LOGUEADO - "Mostrar perfil" y opciones del administrador ("Gestionar películas" y "Usuarios")
                li
                    a(href="/profile") Perfil
                
                //- OPCIONES SOLO PARA ADMINISTRADORES
                if user.role === 'admin'
                    li
                        a(href="/manage") Gestionar películas
                    li
                        a(href="/users") Usuarios
                
                // CERRAR SESIÓN como formulario POST
                li
                    form(action="/api/logout", method="POST")
                        button(type="submit" class="logout-button") Cerrar sesión
            else
                //- USUARIO NO LOGUEADO - Mostrar Sign up
                li
                    a(href="/signup") Sign up
