doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Buscador de Películas
        
    body
        include ./header.pug

        main
            h1 ¡Busca tu película!

            // Contenedor de búsqueda centrado
            article.search-container
                input#movieName(type="text" placeholder="Escribe el nombre de una película…")
                button#searchButton Buscar

            // Contenedor donde se mostrarán los resultados
            article#result.movie-container
           
                        
        include ./footer.pug
        script(src="/js/script.js")
