body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c4c4c4;
    margin: 0;
    padding: 0;
}

.img_logo {
    width: 300px;
    height: auto;
}


h1 {
    padding: 15px;
    position: relative;
    text-align: center;
}

.search-container {
    display: flex;              /* Activa flexbox */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;        /* Centra verticalmente */
    gap: 10px;                  /* Espacio entre input y botón */
    margin: 20px 0;             /* Separación superior e inferior */
}

.search-container input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    width: 250px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #ff6b6b;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
}

.search-container button:hover {
    background-color: #ff4757;
}

footer {
    text-align: center;
    position: sticky;
    width: 100%;
    height: 100%;
    background-color: #ff4757;
    color: #000000;
    padding: 15px;
}

